// Your custom variables
$red-base: #ff0000;
$purple-base: #453192;
$orange-base: #fbb03b;
$blue-base: #29abe2;

$red: #ff0000;
$purple: #453192;
$orange: #fbb03b;
$blue: #29abe2;

$primary-color: $red;
$link-color: $red;
